# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/backend/test_images/*
results/*
plots/*
# Virtual Environment
.venv/
venv/
ENV/
env/

# macOS
.DS_Store

# AWS Lambda artifacts
lambda_deployment.zip
lambda_pkg/

# Datasets (Large files)
images/
unsplash-research-dataset-lite-latest/

# Benchmark results
#benchmark_results_*.csv

# Secrets and Local configuration
earl-user-credentials.csv
.env
.bucket_name

# Temporary scripts
test_invoke.py

.pdf

# IDE settings
.vscode/
.idea/
